body{
    overflow-y: scroll;
}

.h1-home{
    font-size: 4.3vw;
    font-weight: 500;
}

.h2-home{
    font-size: 2.5vw;
}

.h3-home{
    font-size: 1.8vw;
}

.p-home{
    font-size: 1.25vw;
}

.clickable{
    cursor: pointer;
}

.underlined{
    text-decoration: underline;
}

.button-rounded-black{
    border-radius: 2vw;
    padding: 1vw 3vw;
    font-size: 1.2vw;
    background-color: #181818;
    color: white;
}

.button-rounded-black:hover {
    background-color: #c97b7b;
}